@media (min-width: 1801px){
    .sub-bar{
        width: 150px;
        height: 555px;
    }
}

@media (min-width: 1000px) and (max-width: 1800px){
    .sub-bar{
        width: 110px;
        height: 370px;
    }
}

li{
    outline: none;
}

.active{
    font-weight: bold;
}


.sub-bar{
    background-color: #FFDF3B;
    display: grid;
    grid-row-gap: 25px;
    justify-items: center;
    align-self: start;
    padding: 40px 20px;
    height: 100%;
    max-height: 520px;
}

.sub-bar .name-menu{
    font-weight: bold;
}

.sub-menu hr{
    background-color: black;
    height: 2px;
    border: none;
}

.sub-bar .sub-menu{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    grid-row-gap: 25px;
}

.sub-bar .sub-menu li{
    cursor: pointer;
}

.sub-bar .sub-menu li:hover{
    text-decoration: underline;
}