<div class="sign-in">
    <form [formGroup]="formSignIn">
        <div class="center">
            <div class="inputs">
                <div class="error" *ngIf="message">
                    {{message}}
                </div>
                <input type="email" name="email" placeholder="Почта" class="e-mail simple-input" formControlName="email">
                <span class="password">
                    <input type="password" name="password" placeholder="Пароль" id="password" class="simple-input" formControlName="password">
                    <a class="password-view" (click)="show_hide_password()"></a>
                </span>
    
            </div>
        </div>
        <div class="buttons">
            <button class="enter button-box-shadox" (click)="logIn()">Вход</button>
            <button class="forgot-password">Забыли пароль?</button>
        </div>
    </form>

</div>