main{
    margin-top: 100px;
}

.body{
    grid-column-gap: 90px;
    justify-items: stretch;
    align-items: stretch ;
}


.content form{ 
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 35px;

}

.content form .inputs{
    display: grid;
    justify-self: start;
    justify-items: start;
    align-self: center;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 25px;
    font-size: 24px;
}

.content form .buttons{
    align-self: start;
    justify-self: start;
}