main{
    margin-top: 100px;
}

.body{
    grid-column-gap: 90px;
    justify-items: stretch;
    align-items: stretch ;
}


.content form{ 
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 120px;
    height: 100%;

}

.content form .inputs{
    display: grid;
    justify-self: start;
    justify-items: start;
    align-self: center;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    grid-row-gap: 25px;
    font-size: 24px;
}

.content form .buttons{
    align-self: end;
    justify-self: end;
}

form input{
    background-color: #F0F0F0;
    border: none;
    width: 280px;
    height: 40px;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, 0) !important;
    color: #8F8F8F;
    padding-left: 15px;
}


form input:hover{
    border: 2px solid rgb(167, 167, 167) !important;
}

form button{
    background-color: #FFDF3B;
    border: 0;
    padding: 5px 25px;
}