<main>    
    <div class="body">
        
        <app-side-bar></app-side-bar>
        <div class="content">
            <form action="">
                <div class="inputs">
                    <label for="name">Название кампании</label>
                    <input type="text" id="name">
                    <label for="resource">Ссылка на рекламируемый ресурс</label>
                    <input type="text" id="resource">
                    <label for="CPA">СРА ставка</label>
                    <input type="text" id="CPA">
                    <label for="clicks">Ссылка отслеживания clicks</label>
                    <input type="text" id="clicks">
                </div>
                <div class="buttons">
                    <button class="save button-box-shadox">Создать</button>
                </div>
            </form>
        </div>
    
    </div>

</main>