<div class="sign-up">
    <form [formGroup]="formSignUp">
        <div class="inputs">
            <span *ngIf="message"></span>
            <div class="error" *ngIf="message">
                {{message}}
            </div>
            <span>*</span><input type="text" id="name" class="name simple-input" formControlName="name" placeholder="Название комании/имя/псевдоним">

            <span *ngIf="typeUser=='serverowner'"></span><input *ngIf="typeUser=='serverowner'" type="text" name="social" placeholder="Соц. сети проекта" class="social simple-input" formControlName="social">

            <span>*</span><input type="email" name="email" placeholder="Почта" class="email simple-input" formControlName="email">
            
            <span>*</span>
            <span class="password">
                <input type="password" name="password" placeholder="Пароль" id="password" class="simple-input" formControlName="password">
                <a class="password-view" (click)="show_hide_password()"></a>
            </span>

            <span>*</span>
            <input type="password" placeholder="Повторите пароль" class="password-repeat simple-input" [(ngModel)]="password_repeat" [ngModelOptions]="{standalone: true}">

            <span>*</span><input type="text" class="phone simple-input" placeholder="Телефон" name="phone" formControlName="number" mask="(000)000-00-00" prefix="+7" [showMaskTyped]="true">

            <span *ngIf="typeUser=='serverowner'">*</span><span *ngIf="typeUser !='serverowner'"></span><input type="text" name="telegram" class="simple-input" id="telegram" formControlName="telegram" placeholder="Телеграм">

            <span *ngIf="typeUser=='serverowner'"></span><input *ngIf="typeUser=='serverowner'" type="text" name="vk" placeholder="Страница вконтакте" class="vk simple-input" formControlName="vk">
        </div>
        <div class="checkbox">
            <span>*</span>
            <div class="check">
                <input type="checkbox" name="agreement" id="agreement" required>
                <label for="agreement">Настоящим подтверждаю, что я ознакомлен и
                    согласен с условиями Политики в отношении
                    обработки персональных данных </label> 
            </div>
        </div>
        <div class="buttons">
            <button class="enter button-box-shadox" (click)="signUp()" [disabled]="formSignUp.invalid">Зарегистрироваться</button>
            <div class="alert-danger" *ngIf="formSignUp.invalid" id="name">Заполните все обязательные поля!</div>
        </div>
        
    </form>

    <span id="tk">iiiiiiiii</span>

</div>