<div class="sub-bar">
    <ul class="sub-menu font-22-18">
        <li class="link">
            <a [routerLink]="['/monitoring', 'rust']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                RUST
            </a> 
        </li>
        <li class="link">
            <a [routerLink]="['/monitoring', 'cs:go']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                CS:GO
            </a>
        </li>
        <li class="link">
            <a [routerLink]="['/monitoring', 'minecraft']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Minecraft
            </a>
        </li>
        <li class="link">
            <a [routerLink]="['/monitoring', 'arma']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Arma
            </a>
        </li>
    </ul>
</div>