.sub-bar{
    width: 165px;
    color: #292929;
}

li{
    outline: none;
}

li a{
    color: black;
}

.active{
    font-weight: bold;
    border-bottom: 3px solid #292929;
}


.sub-bar{
    background-color: #FFDF3B;
    display: grid;
    grid-row-gap: 25px;
    justify-items: center;
    align-self: start;
    padding: 40px 20px;
    height: 100%;
    max-height: 520px;
}

.sub-bar .name-menu{
    font-size: 24px;
    font-weight: bold;
}

.sub-menu hr{
    background-color: black;
    height: 2px;
    border: none;
}

.sub-bar .sub-menu{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 22px;
    display: grid;
    grid-row-gap: 25px;
}

.sub-bar .sub-menu li{
    cursor: pointer;
}


.sub-bar .sub-menu li:hover{
    text-decoration: none !important;
}

a:hover{
    border-bottom: 3px solid #292929;
}