<div class="auth">
    <div class="auth-window">
        <span class="who" [ngClass]="{none : auth_method != 'sign-up'}">
            <span [ngClass]="{active: typeUser == 'serverowner'}" (click)="changeTypeUser()">Серверовладельцем</span>  <span [ngClass]="{active: typeUser != 'serverowner'}" (click)="changeTypeUser()">Рекламодателем</span> 
        </span>
        <div class="auth-method">
            <button class="sign-in" [ngClass]="{active_sign_in:  auth_method == 'sign-in'}" (click)="changeMethod('sign-in')">Вход</button>
            <button class="sign-up" [ngClass]="{active_sign_up:  auth_method == 'sign-up'}" (click)="changeMethod('sign-up')">Регистрация</button>
        </div>
        <app-sign-in *ngIf="auth_method == 'sign-in'"></app-sign-in>
        <app-sign-up *ngIf="auth_method == 'sign-up'" [typeUser]="typeUser"></app-sign-up>
        
    </div>
</div>