<div class="auth">
    <div class="auth-window">
        <span class="type">
            Кабинет {{typeAuthOutput}}
        </span>
        <div class="auth-method">
            <a [routerLink]="['/auth/login', typeUser]" routerLinkActive="active_sign_in" [routerLinkActiveOptions]="{exact: false}" class="sign-in" 
             >Вход</a>
             <!-- 
             [ngClass]="{active_sign_in:  auth_method == 'sign-in'}" (click)="changeMethod('sign-in')"
              -->
            <a [routerLink]="['/auth/sign-up', typeUser]" routerLinkActive="active_sign_up" [routerLinkActiveOptions]="{exact: false}" class="sign-up">Регистрация</a>
            <!-- 
                [ngClass]="{active_sign_up:  auth_method == 'sign-up'}" (click)="changeMethod('sign-up')"
             -->
        </div>
        <router-outlet></router-outlet>
    </div>
</div>