.auth{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-window{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding-top: 55px;
    padding-bottom: 70px;
    margin: 60px 0px;
}

@media (min-width: 1801px){
    .auth-window{
        padding: 45px 120px;
    }
}

@media (min-width: 1000px) and (max-width: 1800px){
    .auth-window{
        padding: 33px 86px;
    }
}

.auth-window .auth-method{
    align-self: start;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 66px;
    justify-items: center;
    align-items: center;
    justify-self: center;
}

.auth-window .auth-method>span{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.auth-method>span>button{
    grid-column: 1/3;
}

.type{
    text-align: center;
    width: 357px;
    background-color: #FFDF3B;
    padding: 5px 0px;
    font-weight: bold;
}

.none{
    opacity: 0;
}


.auth-window .auth-method a:first-child{
    align-self: start;
}

.auth-window .auth-method a{
    background-color: inherit;
    border: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    font-size: 26px;
    cursor: pointer;
    outline: none !important;
}

.auth-window .auth-method a.active_sign_in{
    border-bottom: 4px solid #FFDF3B;
}

.auth-window .auth-method a.active_sign_up{
    border-bottom: 4px solid #DD336A;
}
/* input:hover{
    border: 1px solid rgb(95, 95, 95);
} */