<main>
    <div class="head">
        <span class="email">
            E-mail: {{ uEmail }}
        </span>
    </div>
    
    <div class="body">
        
        <app-side-bar></app-side-bar>
        <div class="content">
            <span class="center">
                <span class="circle circle-1"></span>
                <span class="circle circle-2"></span>
                <span class="circle circle-3"></span>
                <span class="rect"><span>Ads ingame</span></span>
            </span>
            <p>Выберите тип монетизации игрового сервера...</p>
            <button class="button-box-shadox yellow-btn" routerLink="/new-server">Подключить сервер</button>
        </div>
    
    </div>

</main>